<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${userId} +'님 환영합니다.'"></p>

    <form th:action="@{/todo/{userId}/add-todo(userId=${userId})}" th:object="${contentDto}" method="post">
        <input type="text" th:field="*{content}" placeholder="할 일을 입력해주세요">
        <input type="submit" value="확인">
    </form>
    <hr>
    <h2>해야할 일</h2>
    <br>
    <div th:each="todo : ${todoList}">
        <div th:if="${todo.done == false}">
            <span th:text="${todo.content}"></span>
            <form th:action="@{/todo/{userId}/update-todo/{id} (userId=${userId}, id=${todo.id})}" method="post">
                <input type="submit" value="추가">
            </form>
            <form th:action="@{/todo/{userId}/delete-todo/{id} (userId=${userId}, id=${todo.id})}" method="post">
                <input type="submit" value="삭제">
            </form>
        </div>
    </div>
    <hr>
    <h2>한 일</h2>
    <br>
    <div th:each="todo : ${todoList}">
        <div th:if="${todo.done == true}">
            <span th:text="${todo.content}"></span>
            <form th:action="@{/todo/{userId}/update-todo/{id} (userId=${userId}, id=${todo.id})}" method="post">
                <input type="submit" value="추가">
            </form>
            <form th:action="@{/todo/{userId}/delete-todo/{id} (userId=${userId}, id=${todo.id})}" method="post">
                <input type="submit" value="삭제">
            </form>
        </div>
    </div>

</body>
</html>